nav.global-navigation
	ul.nav
		li(class="#{ current.path[0] == 'index' ? 'current' : '' }").nav__item
			a(href="/") Home
		li(class="#{ current.path[0] == 'why-choose-us' ? 'current' : '' }").nav__item
			a(href="/why-choose-us") Why Choose Us
		li(class="#{ current.path[0] == 'projects' ? 'current' : '' }").nav__item
			a(href="/projects") projects
		li(class="#{ current.path[0] == 'kitchens' ? 'current' : '' }").nav__item
			a(href="/kitchens") Kitchens
		li(class="#{ current.path[0] == 'bedrooms' ? 'current' : '' }").nav__item
			a(href="/bedrooms") Bedrooms
		li(class="#{ current.path[0] == 'showrooms' ? 'current' : '' }").nav__item
			a(href="/showrooms") Showrooms
