- var bands = public.kitchens._data.bands

.Grid.fullpage.colGrid

	a(href="/kitchens/").Grid-cell.gridNav.Back
		i.ion-arrow-left-c

	.Grid-cell.gridNav.Current

		.list-bands.in-rows.with-fixed-height.is-content-scrollable
			.list-band
				.list-band__caption
					.list-band__caption-summary.intro
						h3.list-band__caption-summary__title #{ title }
				.list-band__img
					img(src="/assets/img/kitchens/band-cover.jpg")
			each band in bands
				a.list-band.is-link(href="/kitchens/by-price/#{ band.number }")
					.list-band__caption
						.list-band__caption-number #{ band.number }
						.list-band__caption-summary
							h4 #{ band.name }
							p #{ band.summary }
					.list-band__img
						img(src="/assets/img/kitchens/band-#{ band.number }.jpg")
