- var styles = public.kitchens._data.styles

.Grid.fullpage.colGrid

	a(href="/kitchens/").Grid-cell.gridNav.Back
		i.ion-arrow-left-c

	.Grid-cell.gridNav.Current

		.list-bands.in-rows.and-cols.is-content-scrollable
			.list-band.list-band-title
				.list-band__caption
					.list-band__caption-summary.intro
						h3.list-band__caption-summary__title #{ title }
				.list-band__img
					img(src="/assets/img/kitchens/style-cover.jpg")
			each style in styles
				a.list-band.is-link(href="/kitchens/by-price/#{ style.number }")
					.list-band__caption
						.list-band__caption-summary
							h4 #{ style.name }
							p #{ style.summary }
					.list-band__img
						img(src="/assets/img/kitchens/style-#{ style.number }.jpg")
