.Grid.fullpage.rowGrid

	.Grid-cell
		.list-bands.in-rows
			a.list-band.is-link(href="/kitchens/by-style")
				.list-band__caption
					.container
						h3.list-band__caption__title Entire Catalog
						// p We incorporate intense pools of glossy colours to delicate shades that brighten and inspire even in the darkest of days.  Our styles come with warm comforting, earthy tones and textures with special grains of natural woodland colours that breathe life into your home.
				.list-band__img
					img(src="/assets/img/covers/cover-1.jpg")
			a.list-band.is-link(href="/kitchens/by-style")
				.list-band__caption
					.container
						h3.list-band__caption__title For the Style Maniacs
						// p We incorporate intense pools of glossy colours to delicate shades that brighten and inspire even in the darkest of days.  Our styles come with warm comforting, earthy tones and textures with special grains of natural woodland colours that breathe life into your home.
				.list-band__img
					img(src="/assets/img/covers/cover-2.jpg")
			a.list-band.is-link(href="/kitchens/by-price")
				.list-band__caption
					.container
						h3.list-band__caption__title For the Price Concious
						// p With a variety of designs and styles to choose from, we have a solution for every budget. We have made your selection process simpler by dividing the range of kitchens into seven distinct price bands.
				.list-band__img
					img(src="/assets/img/kitchens/band-cover.jpg")
