nav.global-navigation
	ul.nav
		li(class="#{ current.source == 'home' ? 'current' : '' }").nav__item
			a(href="/") Home
		li(class="#{ current.source == 'why-choose-us' ? 'current' : '' }").nav__item
			a(href="/why-choose-us") Why Choose Us
		li(class="#{ current.source == 'projects' ? 'current' : '' }").nav__item
			a(href="/projects") projects
		li(class="#{ current.source == 'index' ? 'current' : '' }").nav__item
			a(href="/kitchens") Kitchen
		li(class="#{ current.source == 'bedrooms' ? 'current' : '' }").nav__item
			a(href="/bedrooms") Bedrooms
		li(class="#{ current.source == 'showrooms' ? 'current' : '' }").nav__item
			a(href="/showrooms") Showrooms
