.hero-inset
	.container-lg
		!=partial("_shared/nav")
	.container
		h3 Quality knows no Dissability
		p.lead At Kenya joiners we also aim to create practical facilities for wheelchair users, the elderly and people with limited mobility.
		p We work closely with experts, installers and users to create flexible, cost-effective and attractive solutions. Kitchen cabinets are available in a range of sizes with units secured to the worktop and wall for strength and easy wheelchair access.

.hero
	.container-lg
		.hero-slider.is-small-in-size.hero-slider-single
			figure.slide
				img(src="/assets/img/covers/cover-1.jpg")
				figcaption Lowered Hob Access using Rise and Fall System

.hero-inset
	.container
		p.lead The result kitchen provides optimum level of accessibility, usability and also packed with thoughtful touches. Accessibility cabinets are available with all kitchen ranges.
		p Every tiny details counts when it comes to accessibility considerations. We offer a range of specially adapted accessories and appliances to create kitchens tailored to varying users’ needs and level of disability.

.hero
	//
		Accessory list gallery comes here
	.hero-slider.is-tiny-in-size.hero-slider-scrollable
		.slide
			img(src="/assets/img/covers/cover-1.jpg")
		.slide
			img(src="/assets/img/covers/cover-2.jpg")
		.slide
			img(src="/assets/img/covers/cover-3.jpg")
