.hero
	.hero-slider-intro
		.slider-intro__container
			.container-lg
				h2 Efficient. Bespoke. Flexible
				p.lead That's our promise to you. We have a reputation for delivering to tight budgets and timescales. Our goal is to deliver what a customer wants by using color and textures that allow you to have a kitchen that you have always dreamed of.

				!=partial("_shared/nav")
