.hero-inset
	.container-lg
		!=partial("_shared/nav")

		h2 Quality craftsmanship
		.text-columns__two
			p At Kenya Joiners, quality comes as standard. We ensure that our craftsmen use only high quality materials that have undergone proper testing to meet rigorous standards.
			p We pay special attention to detail and every cabinet comes with a 15-year guarantee.
			p Every single cabinet has a 15-year guarantee since they are rigidly built with a sturdy and resilient 18mm car case. You can rely on Kenya joiners not only for sinks, cabinets, worktops and taps but also for high end appliances.
		blockquote For the most affordable kitchens #[a(href="") Whirlpool] is the ideal brand. #[a(href="") Zanussi] or #[a(href="") Electrolux] is ideal for mid-range kitchens while for the prestige kitchen we use #[a(href="") AEG appliances].
		p We have a dedicated team of project manager who look at every aspect of design, supply and installation. Our expert designers will make most of every inch of space and every shilling of the budget.

	.container-lg
		.Grid.Grid--guttersLg
			.Grid-cell
				h4 Drawing
				p Plans, CAD drawing and estimates will be with you within 7 working days
			.Grid-cell
				h4 Delivery
				p Prompt delivery from order. In-stock items delivered within 24 hours
			.Grid-cell
				h4 Installation
				p All installations contractors are fully accredited and all work is guaranteed.
