.hero-inset
	.container-lg
		!=partial("_shared/nav")
	.container
		h3 Sustainabile as well as desirable
		p.lead Customers want sustainable homes these days - and ever-stricter regulations demand them.
		p At Kenya Joiners, we fully recognize our responsibility to be environmentally considerate. Therefore we manage our operations in accordance with the international <strong>ISO 14001 standard</strong>, that comply fully with all relevant environmental legislation.

.hero
	.hero-slider.is-small-in-size
		.slide
			img(src="/assets/img/covers/cover-1.jpg")
		.slide
			img(src="/assets/img/covers/cover-2.jpg")
		.slide
			img(src="/assets/img/covers/cover-3.jpg")

.hero-inset
	.container
		p We are fully compliant:
		ul
			li All our cabinets are <strong>FSC certified</strong>.
			li Member of WWF 95+GROUP.
			li BS EN ISO 14001: 2004 Environmental Management System Standard (EMS 61465)
			li All cabinets are supplied with full chain of custody

		.Grid.Grid--guttersLg.svg-grid
			.Grid-cell
				.svg-icon(style="-webkit-mask: url('/assets/img/logos/fsc.svg') center / contain no-repeat;" title="All our cabinets are FSC certified")
			.Grid-cell
				.svg-icon(style="-webkit-mask: url('/assets/img/logos/wwf.svg') center / contain no-repeat;" title="Member of WWF 95+GROUP")
			.Grid-cell
				.svg-icon(style="-webkit-mask: url('/assets/img/logos/iso.svg') center / contain no-repeat;" title="BS EN ISO 14001: 2004 Environmental Management System Standard (EMS 61465)")
