.list-bands {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	display: flex;

	&.in-rows {
	   flex-flow: column nowrap;

		&.with-fixed-height {
			.list-band {
				min-height: 250px;
			}
		}

		.list-band {
			width: 100%;
			flex: 1;
		}
	}

	&.and-cols {
	   flex-flow: row wrap;

		.list-band {
			width: 50%;
//			flex: 1;
		}
	}

	.list-band {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		border: none;
		background-color: #000;
		border-top: 1px solid #222;

		&:hover {
			border: none;
		}

		&.list-band-title {
//			flex: 2;
		}

		.list-band__caption {
			color: #fff;
			position: relative;
			z-index: 5;
			width: 90%;

			.list-band__caption__title {
				margin: 0;
			}

			.list-band__caption-summary, .list-band__caption-number {
				position: relative;
				z-index: 1;
				font-size: 21px;
				height: 60px;
				display: inline-block;

				&.intro {
					text-align: center;
					display: block;
				}
			}

			.list-band__caption-summary__title {
				margin-top: 0;
			}

			.list-band__caption-category {}

			.list-band__caption-number {
				left: 30px;
				top: -15px;
				width: 60px;
				line-height: 60px;
				font-size: 30px;
				margin-top: 30px;
				margin-right: 100px;

				&:after, &:before {
					content: "";
					position: absolute;
					top: -30px;
					right: -30px;
					width: 60px;
					height: 60px;
					transform: rotate(45deg) scaleY(1);
					transition: all 300ms 350ms cubic-bezier(0.215,.61,.355,1);
				}
				&:before {
					transform-origin: top left;
					border-left: 1px solid #fff;
					left: 15px;
					top: -15px;
				}
				&:after {
					transform-origin: bottom left;
					border-right: 1px solid #fff;
					top: -30px;
					right: 30px;
				}
			}
		}

		.list-band__img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			transform: scale(1);
			transition: transform 1s ease;

			img {
				max-width: none;
				width: 100%;
				height: 100%;
				opacity: .25;
				object-fit: cover;
				object-position: center;
			}
		}

		&.is-link:hover {
			background: #111;
			border-top: 1px solid #222;
			transition: background 1s ease;

			.list-band__img {
				transform: scale(1.15);

				img {
					opacity: .25;
				}
			}
		}
	}

	.list-band__compare {
		background-color: #222;
		color: #fff;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		font-size: 30px;
		letter-spacing: 2px;
		-webkit-mask: url('/assets/img/vs_bg.svg') center center / cover no-repeat;
		position: absolute;
		z-index: 1000;
		margin-left: -50px;
		margin-top: -50px;
		top: 50%;
		left: 50%;
	}
}
