.global-container,
.global-content {
	display: flex;
	flex-direction: column;
}
.global-container {
}
.global-content {
	flex: 1;
	position: relative;
}
.global-content__left {
	order: -1;
	display: flex;
	flex-direction: column;
}
.global-header, .global-navigation, .global-footer {
	width: 100%;
}
.global-header {
	margin-bottom: 10px;
}
.global-navigation {
	margin-top: 10px;
	flex: 1;
	align-items: center;
	justify-content: flex-start;
}
.global-footer {
	margin-top: 10px;
}
.global-content__center {
	flex: 1;
}
.global-background {
	&:before {
		content: "";
		background-color: rgba(0, 0, 0, 0.7);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

@include mq(1024, true, min) {
	.global-container {
		position: fixed;
		width: 100vw;
		height: 100%;
	}
	.global-content {
		flex-direction: row;
		display: flex;
		flex: 1;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
	}
	.global-content__left {
		flex: 0 0 12em;
		padding: 35px 25px;
		color: #fff;

		&.is-dark {
			background: #222;
		}
	}
	.global-content__center {
		display: flex;
		flex-flow: column nowrap;
	}
}

.svg-grid {
	.svg-icon {
		background-color: #555;
		height: 100px;
	}
}
