$hero-size-tiny: 300px;
$hero-size-small: 500px;
$hero-size-fullpage: 100vh;

.hero {
	width: 100%;
	position: relative;

	.hero-slider {
		background: #222;
		width: 100%;
		height: auto;
		z-index: 0;
		margin: 0;
		position: relative;
		overflow: hidden;

		.slide {
			width: 100%;
			position: relative;

			img {
				position: absolute;
				bottom: 0;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&.is-full-in-size {
			height: $hero-size-fullpage;

			.slide {
				height: $hero-size-fullpage;

				img {
					height: $hero-size-fullpage;
				}
			}
		}

		&.is-small-in-size {
			height: $hero-size-small;

			.slide {
				height: $hero-size-small;

				img {
					height: $hero-size-small;
				}
			}
		}

		&.is-tiny-in-size {
			height: $hero-size-tiny;

			.slide {
				height: $hero-size-tiny;

				img {
					height: $hero-size-tiny;
				}
			}
		}
	}

	.hero-slider-intro {
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		flex: 1;
		align-items: flex-end;

		.slider-intro__container {
			flex: 1;
			padding-bottom: 0;
			max-width: 75%;
			align-items: flex-end;
		}
		.slider-intro__container-caption {
			@extend .lead
		}
	}
}
.hero-inset {
	display: table;
	width: 100%;
	padding: 35px 0
}
