p {
	letter-spacing: .5px;
	line-height: 1.6;
	margin-bottom: 1.3em;
}

.lead {
	@entend .lead;
	font-size: $h4-size;
	margin-top: .5em;
	margin-bottom: 0;

	&:after {
		content: "∗∗∗∗";
		font-family: $base-font-family;
		font-size: $base-font-size;
		font-weight: normal;
		line-height: 100px;
		letter-spacing: 1em;
		display: block;
	}
}
small, .font_small {font-size: 0.618em;}
