nav.navigation-inner
	ul.nav
		li(class="#{ current.source == 'quality' ? 'current' : '' }").nav__item
			a(href="./quality") Quality
		li(class="#{ current.source == 'accessibility' ? 'current' : '' }").nav__item
			a(href="./accessibility") Accessibility
		li(class="#{ current.source == 'sustainability' ? 'current' : '' }").nav__item
			a(href="./sustainability") Sustainability
