/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
	background-color: white;
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y: auto;
    min-height:100%;
}

@include headings(1,6) {
	font:$base-font-size/1.2 $headings-font-family;
  	margin: 1.414em 0 0.5em;
	font-weight: $headings-font-weight;
}
