extends layout

block background

	.global-background
		.hero
			.hero-slider.is-full-in-size
				for image in public.assets.img.covers._contents
					.slide
						img(src="/assets/img/covers/#{ image }")
