extends ./layout

block slider
	.hero
		.hero-slider
			.slide
				img(src="/assets/img/covers/cover-1.jpg")
			.slide
				img(src="/assets/img/covers/cover-2.jpg")
			.slide
				img(src="/assets/img/covers/cover-3.jpg")

block content
	.hero
		.hero-slider-intro
			.slider-intro__container
				.container-lg
					h2 Visit our Showroom
					.Grid.Grid--guttersLg
						.Grid-cell
							p West 1 Building <br> 3rd Floor, Parklands Road <br> (Opp. Centre Point)
						.Grid-cell
							| kitchens@kenyajoiners.com
							p (+254) 712 345 678
